/*
 * HTML5 and CSS1
 *
 * CSS Styles
 *
 * Include this stylesheet from all pages of your website
 *
 * Author: __Arianna Bianchi __
 *
 */

body {
    background-color: black;
    color: black;
    margin: 10px;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-items: center;*/
}

* {
    border: 1px dotted transparent;
    margin: 10px;
    padding: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 150;
    letter-spacing: 4px;
}

a:-webkit-any-link {
    color: black;
}


/*--2. HEADER-------------------------------------------------------->*/


.header{
    border-bottom: 1px solid white;
    font-weight: 150;
    color: white;
    text-align: center;
    height: 20ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--END HEADER-------------------------------------------------------->*/







.nav-main-side > .navigation {
    flex: 1; 
    min-width: 12ch; 
    min-height: 20ch;
    
}

.nav-main-side > .mainContent {
    font-size: large;
    flex:10;
    padding-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
}



.nav-main-side > .sidebar {
    flex: 0.5; 
    min-width: 10ch;
    min-height: 20ch;
}





/*--2. NAVIGATION-------------------------------------------------------->*/
.navigation {
    background-color: black;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2%;
}

.nav {
    display: flex;
    background-color: #73b526;;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    padding: 0%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.nav > a {
    margin: 10px;
}

.nav > a:active {
    color: red
}

.nav > a:hover , .current{
    transition: background-color 250ms ease;
    background-color:  #deff59;
    display: flex;
    border-radius: 50%;
    min-width: 90%;
    min-height: 90%;

    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

    
hr { 
    display:block;
    height: 1px;
    border: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
/*--END NAVIGATION-------------------------------------------------------->*/






/*--3. MAIN CONTENT------------------------------------------------------*/
.nav-main-side {
    display: flex;
    flex: 1;
    flex-direction: row;
}
/*--END MAIN CONTENT--------------------------------------------------*/








/*--4. SIDE BAR----------------------------------------------------------*/
.sidebar {
    background-color: black;
    color: black;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2%;
}

.circleSide {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

.sidebarImages {
    width: 28px;
    height: 28px;
    margin: 0;
}

.linkSide {
    font-size: 10px;
    align-self: flex-end;
    letter-spacing: 1px;
}

.linkSide:hover {
    transition: background-color 250ms ease;
    background-color:  #deff59;
    font-size: 13px;
    border-radius: 50%;
    padding: 2%;
}

.circleSide {
    background-color: #73b526;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    /*to center in the div*/
    margin: 0 auto;
    margin-bottom: 35%;
}
/*--END SIDE BAR----------------------------------------------------------*/





/*--5. FOOTER------------------------------------------------------------*/
.footer {
    color: white;
    border-top: 1px solid white;
    height: 13ch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*--END FOOTER------------------------------------------------------------*/






@media only screen and (max-width: 768px) {

    .nav-main-side {
      flex-direction: column !important;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
    }

    .circleSide {
        margin-bottom: 0;
    }

    hr {
        border: 0;
    }
}

    /* display table-cell with circle of nav*/
    /*display: flex;
    justify-content: space-around;*/